@import './mixin';

.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;

  @include respond-to('tablet') {
    width: 768px;
  }

  @include respond-to('desktop') {
    width: 1280px;
  }
}
