$color-primary-light: #f4f4f4;
$color-primary-dark: #2e2e2e;
$color-brand: #4440f6;
$color-brand-border: #4440f7;
$color-brand-background: rgba(68, 64, 247, 0.7);
$color-secondary: #111321;
$color-tertiary: #ffffff;
$color-gray: #a8a8a8;
$color-blue: #4b48db;

$text-dark: $color-primary-dark;
$text-light: $color-primary-light;
$text-brand: $color-brand;
$background-dark: $color-primary-dark;
$background-light: $color-primary-light;
$toggle-switches: $color-blue;

$border-radius-s: 2px;
$border-radius-m: 4px;
$border-radius-l: 20px;
$card-btn-border-radius: 0px 4px 4px 0px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 32px;
$font-size-logo: 42px;

$font-weight-m: 500;

$margins: 16px;
$gutters-mobile: 28px;
$gutters-tablet: 30px;
$gutters-desktop: 32px;
// $gutters-desktop-bottom: 40px;
