body {
  font-family: "Manrope", "Poppins", normal;
  background-color: #f4f4f4;
}

.icon {
  color: black;
  stroke: currentColor;
  fill: currentColor;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .header__container {
    align-items: baseline;
    justify-content: start;
  }
}

.logo {
  color: #111321;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 768px) {
  .logo {
    font-size: 32px;
    margin-right: 48px;
  }
}
@media (min-width: 1280px) {
  .logo {
    font-size: 42px;
    margin-right: 102px;
  }
}

.nav {
  display: none;
}
@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    gap: 69px;
    margin-right: 147px;
  }
}

@media (min-width: 768px) {
  .nav__link {
    color: #111321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    padding-bottom: 8px;
  }
  .nav__link--current-home:hover::after, .nav__link--current-home:focus::after {
    content: "";
    width: 56px;
    height: 1px;
    background-color: #4440f6;
    left: 0px;
    right: 225px;
    bottom: 0;
    position: absolute;
  }
  .nav__link--current-favorite:hover::after, .nav__link--current-favorite:focus::after {
    content: "";
    width: 69px;
    height: 1px;
    background-color: #4440f6;
    left: 0px;
    right: 225px;
    bottom: 0;
    position: absolute;
  }
  .nav__link--current-read:hover::after, .nav__link--current-read:focus::after {
    content: "";
    width: 45px;
    height: 1px;
    background-color: #4440f6;
    left: 0px;
    right: 225px;
    bottom: 0;
    position: absolute;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    font-size: 18px;
  }
}

.search {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .search {
    display: block;
  }
}

@media (min-width: 768px) {
  .search-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 1280px) {
  .search-switch {
    gap: 147px;
    align-items: flex-start;
  }
}

.search__input {
  width: 173px;
  height: 31px;
  border: 1px solid #111321;
  border-radius: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  padding-left: 48px;
}
@media (min-width: 768px) {
  .search__input {
    width: 213px;
  }
}
@media (min-width: 1280px) {
  .search__input {
    width: 288px;
  }
}

.search__icon-input {
  position: absolute;
  left: 12px;
  bottom: 6px;
}

.mob-search-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
@media (min-width: 768px) {
  .mob-search-menu {
    display: none;
  }
}

.btn-search-mob {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}

.search-icon {
  fill: #111321;
}

.btn-menu-burger {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}

.switch {
  display: none;
}
@media (min-width: 768px) {
  .switch {
    display: block;
    display: flex;
    gap: 8px;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .switch {
    gap: 12px;
  }
}

@media (min-width: 768px) {
  .switch__checkbox {
    position: relative;
    width: 40px;
    height: 20px;
    border: 0.604701px solid #4b48db;
    border-radius: 20px;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .switch__slider {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1px;
    top: 2px;
    border-radius: 20px;
    background-color: #4b48db;
  }
}

@media (min-width: 768px) {
  .switch__sun {
    fill: #f4f4f4;
    stroke: #5f6775;
  }
}
@media (min-width: 1280px) {
  .switch__sun {
    display: none;
  }
}

@media (min-width: 768px) {
  .switch__moon {
    fill: #f4f4f4;
    stroke: #5f6775;
  }
}
@media (min-width: 1280px) {
  .switch__moon {
    display: none;
  }
}

@media (min-width: 768px) {
  .switch__text {
    display: none;
  }
}
@media (min-width: 1280px) {
  .switch__text {
    display: block;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #5f6775;
  }
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.burger-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
}

.burger-logo {
  display: block;
  color: #111321;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 24px 0 68px 16px;
  cursor: auto;
}

.mobile-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 28px;
  border: none;
  cursor: pointer;
  fill: #111321;
  stroke: #111321;
  background-color: #f4f4f4;
}

.burger-svg {
  display: block;
  width: 32px;
  height: 32px;
  display: block;
  margin-right: 14px;
  margin-left: 16px;
}
.burger-svg:hover, .burger-svg:focus {
  border-radius: 100%;
  border: 1px solid #f4f4f4;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-menu__link {
  color: #111321;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobile-menu__item {
  width: 320px;
  height: 44px;
  display: flex;
  align-items: center;
}
.mobile-menu__item:hover, .mobile-menu__item:focus {
  background-color: #4440f6;
  cursor: pointer;
}
.mobile-menu__item:hover .burger-svg, .mobile-menu__item:focus .burger-svg {
  border-radius: 100%;
  border: 1px solid #f4f4f4;
}
.mobile-menu__item:hover .mobile-menu__link, .mobile-menu__item:focus .mobile-menu__link {
  color: #f4f4f4;
}
.mobile-menu__item:hover .burger-chevron-right, .mobile-menu__item:focus .burger-chevron-right {
  display: block;
  width: 24px;
  height: 24px;
}

.burger-chevron-right {
  margin-right: 16px;
  margin-left: auto;
  display: none;
}

.switch-burger {
  display: flex;
  gap: 8px;
  margin: auto auto 18px 16px;
  cursor: pointer;
}

.switch-burger__checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  border: 0.604701px solid #4b48db;
  border-radius: 20px;
  background-color: #ffffff;
}

.switch-burger__slider {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 2px;
  border-radius: 20px;
  background-color: #4b48db;
}

.switch-burger__sun {
  fill: #f4f4f4;
  stroke: #5f6775;
}

.switch-burger__moon {
  fill: #f4f4f4;
  stroke: #5f6775;
}/*# sourceMappingURL=style.css.map */